/* TodoForm.css */
form {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: none;
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.TodoForm-buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.TodoForm-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.TodoForm-button:hover {
  background-color: #218838;
}

.TodoForm-button:active {
  transform: scale(0.95);
}

.TodoForm-button--add {
  /* Puedes agregar estilos específicos para este botón si es necesario */
}
