/* TodoSearch Styles */
.TodoSearch {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.TodoSearch input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.TodoSearch input:focus {
  box-shadow: 0 0 5px rgba(62, 152, 199, 0.5);
  border-color: #3e98c7;
}
